section.container-section-1
  .section-1
    h2.section-1__heading How Dreamshare works?
    .section-1__block
      a.section-1__block__step-1(href='') STEP 1
      h3.section-1__block__heading-1 Sed leo enim, condimentum
      p.section-1__block__text-1
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      img.block-img-1(src='images/Bitmap 1.png', alt='')
      img.block-img-2(src='images/Bitmap 768-1.png', alt='')
      img.block-img-3(src='images/Bitmap 320-1.png', alt='')
      .block-bg-1
    .section-1__block
      a.section-1__block__step-2(href='') STEP 2
      h3.section-1__block__heading-2 Morbi velit risus
      p.section-1__block__text-2
        | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      img.block-img-1(src='images/Bitmap 2.png', alt='')
      img.block-img-2(src='images/Bitmap 768-2.png', alt='')
      img.block-img-3(src='images/Bitmap 320-2.png', alt='')
      .block-bg-2
    .section-1__block
      a.section-1__block__step-1(href='') STEP 3
      h3.section-1__block__heading-1 Sed leo enim, condimentum
      p.section-1__block__text-1
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      img.block-img-1(src='images/Bitmap 3.png', alt='')
      img.block-img-2(src='images/Bitmap 768-3.png', alt='')
      img.block-img-3(src='images/Bitmap 320-3.png', alt='')
      .block-bg-2
section.container-section-2
  .section-2
    h2.section-2__heading Meet a partner for your best holiday
    .section-2__blocks
      .section-2__blocks__block
        .section-2__blocks__block__avatar-1
        h3.section-2__blocks__block__username Bradley Hunter
        p.section-2__blocks__block__text-1 Based in Chicago. I love playing tennis and loud music.
      .section-2__blocks__block.block1
        .section-2__blocks__block__avatar-3
        h3.section-2__blocks__block__username Diana Wells
        p.section-2__blocks__block__text-2
          | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
      .section-2__blocks__block.block-1
        .section-2__blocks__block__avatar-2
        h3.section-2__blocks__block__username Marie Bennett
        p.section-2__blocks__block__text-1 Currently living in Colorado. Lover of art, languages and travelling.
      .section-2__blocks__block.block2
        .section-2__blocks__block__avatar-3
        h3.section-2__blocks__block__username Diana Wells
        p.section-2__blocks__block__text-2
          | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
      .section-2__blocks__block.block-1
        .section-2__blocks__block__avatar-4
        h3.section-2__blocks__block__username Christopher Pierce
        p.section-2__blocks__block__text-2.text-1 Star Wars fanatic. I have a persistent enthusiasm to create new things.
    .section-2__box
      a.section-2__box__link(href='') See other partners
section.conatainer-section-3
  .section-3
    h2.section-3__heading Discover holiday activity ideas
    .section-3__container-2
      .section-3__container-2__box-picture-small
        p.section-3__container-2__box-picture-small__text-1 Sports and Activis
        .section-3__container-2__box-picture-small__img-1
        .section-3__container-2__box-picture-small__img-bg
      .section-3__container-2__box-picture-small
        p.section-3__container-2__box-picture-small__text-2 Wellness and Health
        .section-3__container-2__box-picture-small__img-2
        .section-3__container-2__box-picture-small__img-bg
      .section-3__container-2__box-picture-small
        p.section-3__container-2__box-picture-small__text-3 Extreme Sports and Expeditions
        .section-3__container-2__box-picture-small__img-3
        .section-3__container-2__box-picture-small__img-bg
      .section-3__container-2__box-picture-small
        p.section-3__container-2__box-picture-small__text-4 Games
        .section-3__container-2__box-picture-small__img-4
        .section-3__container-2__box-picture-small__img-bg
      .section-3__container-2__box-picture-big
        p.section-3__container-2__box-picture-big__text-5 Culture and Education
        .section-3__container-2__box-picture-big__img-5
        .section-3__container-2__box-picture-big__img-bg-2
      .section-3__container-2__box-picture-big
        p.section-3__container-2__box-picture-big__text-6 Enjomet and Relaxation
        .section-3__container-2__box-picture-big__img-6
        .section-3__container-2__box-picture-big__img-bg-2
      .section-3__container-2__box-picture-small
        p.section-3__container-2__box-picture-small__text-7 Trevelling
        .section-3__container-2__box-picture-small__img-7
        .section-3__container-2__box-picture-small__img-bg
section.container-section-4
  .section-4
    h2.section-4__heading Crate your holiday activity
    p.section-4__text Hi! What are your holiday interests?
    form
      input(type='text', placeholder='Enter your interests')
      input(type='submit', value='Search partners')
