footer.container-footer
  hr.line
  .footer
    h1.footer__logo DREAMSHARE
    .footer__menu
      a.footer__menu__link-main(href='') Company
      a.footer__menu__link.footer__menu__link-1(href='') About
      a.footer__menu__link.footer__menu__link-2(href='') Contact
      a.footer__menu__link.footer__menu__link-3(href='') Press
      a.footer__menu__link.footer__menu__link-4(href='') Blog
      a.footer__menu__link.footer__menu__link-5(href='') Terms and Privacy
      a.footer__menu__link.footer__menu__link-6(href='') Help
    a.footer__link-main-1(href='') Partners
    p.footer__designed DESIGNED BY
    img.footer__img(src='images/Bitmap 15.png', alt='')
