header.container-header
  h1.container-header__logo DREAMSHARE
  a.container-header__log-in(href='') Log in
  a.container-header__sign-up(href='') Sign up
  h2.container-header__heading SHARE YOUR HOLIDAY DREAM
  h3.container-header__heading-2 And find the perfect partner to fullfill it
  a.container-header__find-partner(href='') Find your holiday partner
  img.header-img-1(src='images/Bitmap 0.png', alt='')
  img.header-img-2(src='images/Bitmap 768-0.png', alt='')
  img.header-img-3(src='images/Bitmap 320-0.png', alt='')
  .header-bg